.one-img{  background: url(../images/Quiz/space2.jpg)no-repeat center;}
.two-img{  background: url(../images/Quiz/universe.jpg)no-repeat center;}
.three-img{  background: url(../images/Quiz/universe1.jpg)no-repeat center;} 
